.photo{
    width: 35%;
    max-height: 500px;
    margin-left: 100px;
    border-radius: 20px;
}
.first_section{
    display: flex;
    flex-direction: row;    
    padding-top: 12px;
    font-family: 'Play bold';
    justify-items: center;
}
.first_section h1{
    font-size: 60px;
}
.first_section .text{
    margin-right: 12%;
    margin-left: 10%;
    padding-bottom: 30px;
    
    word-wrap: break-word;
}
.first_section p{
    font-size: 30px;
}

@media screen and (max-width: 800px) {
    .first_section p{
        font-size: 14px;
    }
    .first_section h1{
        font-size: 22px;
    }
    .photo{
        width: 45%;
        height: 45%;
        margin-left: 10px;
    }
    .first_section .text{
        margin-bottom: 10px;
        padding-bottom: 0;
    }
}