.cont{
    display: flex;
    margin: 0 10% 70px 10%;
    align-items: center;
    flex-wrap: wrap;
}
.pic{
    width: 25%;
    position: relative;
    height: fit-content;
}

.pic img{
    width:100%;
    padding-right: 3px;
}
.upper_text{
    position: absolute;
    top:35%;
    color: white;
    text-align: center;
    margin:auto;
    left: 0;
    right: 0;
}
.upper_text h4{
    font-size: 19px;
}
.pic a {
    color: white;
}