.cont{
    display: flex;
    flex-direction: row;
    margin: 0 10% 70px 10%;
    align-items: center;
    flex-wrap: wrap;
}

.pic{
    width: 25%;
    min-width: 200px;
    position: relative;
    height: fit-content;
    align-content: center;
    margin: auto;
}

.pic img{
    width:100%;
    padding-right: 3px;
}
.upper_text{
    position: absolute;
    top:30%;
    color: white;
    text-align: center;
    margin:auto;
    left: 0;
    right: 0;
}

.pic a {
    color: white;
    font-size: 19px;
}
.upper_text h3{
    word-wrap:break-word;
    max-width: 80%;
    margin: auto;
    font-size: 24px;
}
@media (max-width: 700px){
    .pic a {
        font-size: 15px;
    }
    .upper_text h3{
        font-size: 18px;
    }
}
