.upsite{
    width: 100%;
}

.upsite_content{
    padding: 7px 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 28px;
    align-items: center;
}
.together{
    display: flex;
    flex-direction: row;
    justify-content:end;
    max-height: 60px;
    align-items: center;
}
.together p{
    margin-right: 45px;
}
@media (max-width: 700px){
    .together{
        font-size: 15px;
    }
    .together p{
        margin-right: 10px;
    }
 }
#upsite_line{
    width: 100%;
    position: relative;
    bottom:6px;
}
.upsite_content img{
    width: 7%;
    min-width: 60px;
}