.header{
    margin:15px 100px 15px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#343233;
    font-family: "Play";
    font-weight:400;
    font-size: 25px;
}

.header a{
    text-decoration: none;
    color: black;
}
.header a:hover{
    color: blue;
}
