.main_img{
    width: 100%;
    position: relative;
}

.main_text{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30%;
    text-align: center;
    margin-left: 5%;
    
}
.box{
    position: relative;
}

.main_text h2{
    margin-bottom: 10px;
}


.main_text ul{
    list-style-type: none;
    padding: 0 0 0 0;
}
.main_text li{
    text-align: left;
    font-size: 23px;
    margin-top: 5px;
}


.text_title{
    margin-bottom: 30px;
}
@media (max-width: 800px){
    .main_text ul li{
        font-size: 13px;
    }
    .main_text{
        bottom: 5%;
    }
}