@font-face {
	font-family: 'Play bold'; 
	src: url(./fonts/Play-Bold.ttf); 
}
@font-face {
	font-family: 'Play regular'; 
	src: url(./fonts/Play-Regular.ttf); 
}

*{
    font-family: 'Play regular';
	margin: 0 0 0 0;
}
h1{
	font-family: 'Play bold';
	font-weight: bold;
}
h2{
	font-size: 35px;
	font-family: 'Play bold';
}
h3{
	font-size: 18px;
	font-family: 'Play regular';
}

@media (max-width: 800px){
    .main_text .text_title h2{
        font-size: 15px;
		line-height: 100%;
		margin-bottom: 2px;
    }
	.main_text .text_title{
		margin-bottom: 0;
	}

}

button:disabled{
	cursor: not-allowed;
}

